.backdrop {
    backdrop-filter: blur(12px);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Encode', 'Arial', sans-serif;
}

html,
body,
#__next {
    margin: 0;
    padding: 0;
    font-family: 'Encode', 'Arial', sans-serif;
    font-size: 16px;
}

.bg-dark {
    background-color: rgb(31, 31, 31);
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Encode";
    src: url("/fonts/Encode.ttf") format("truetype");
    font-display: swap;
}

.appear {
    animation-iteration-count: 1;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-name: appering;
}

@keyframes appearing {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.load {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: loading-animation;
}

@keyframes loading-animation {
    0% {
        background-color: black;
    }
    50% {
        background-color: #2020202f;
    }
    100% {
        background-color: black;
    }
}

.main-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M1105.5779754325174-11.881853388733134L979.7775675297966-110.167903891811 1007.2919249294396 113.91855451398774z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M253.72098453877723 431.6134846832445L226.05022049338575 542.5948575328698 364.70235738840256 459.284248728636z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1414.6580878181778 299.6751173589905L1328.882510672026 327.5452918295204 1413.5755609508967 442.27357031348333z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M151.982322160563 69.83878221375865L242.6432421878395 116.03282824223514 266.6038512169159-43.055574812917854z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M837.5000902636513 626.0888271794842L845.7200840137754 469.2420028610936 680.6532659452607 617.86883342936z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M297.56761173536364 464.9738958706987L222.2454890380572 410.2491704314677 177.81946222786397 550.5947171970429z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M133.35905089398975 189.44029614462983L219.28741597668298 174.28880697238384 153.59599967696738 52.97200393446698z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1223.8567694259339 406.9641465514279L1131.1954249399214 448.11386653001597 1201.977385507244 501.4518995897382z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M374.88601360994903 88.48167215998367L238.13552508193058 164.28370574165237 450.6880471916177 225.23216068800212z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2.2905044454430135 36.94125243212074L10.360196303445875 113.7192418024326 121.49233442991225 63.22570933027239z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M605.2292535904725 55.995908496246095L634.8226486968099 0.33882712030677453 536.5403290797321-16.22272485122963z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M956.8003044857528 110.44100322379023L1043.5415869690323 45.07675849740434 902.1245786378138-52.353042864322106z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M103.98805228396658 99.93080326760378L172.7251349804676 35.832436676024486 42.209043744848145-35.22400407293736z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M56.78450898850703 259.69630213777486L-47.3762152915334 379.5195086227917 176.60771547352388 363.8570264178153z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M171.96785653699652 319.97602327093716L203.43770480078078 210.22761989033415 62.2194531563935 288.50617500715293z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M431.062471792233 50.89681433915981L367.7052095194274-68.26086558919434 311.90479186387887 114.25407661196543z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1303.6754508479826 14.89119507989006L1368.255749640106 153.7293913374267 1446.932923708171 45.43955139637819z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M623.2121534843726 401.6292480244663L569.9462359626234 533.4670202177045 755.0499256776109 454.8951655462155z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M990.1906704558734 190.18839161395545L904.234361842238 211.61970637236527 1011.6219852142832 276.1447002275909z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M773.3544737763352 352.0361441742321L706.0497974379156 308.32797630236155 674.1398837993197 431.1390747459263z' fill='rgba(97%2c 97%2c 97%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-position: bottom center;
    background-size: cover;
}